<!DOCTYPE html>
<html>
<head>
	<title>Hansu proov</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/hansuproov.css">
</head>
<body>
	<div class="container">
		<h5>S E C U R E B A D G E R</h5>
		<form class="form1" action="">
            <label for="firstName" class="first-name">First Name</label>
            <input id="firstName" type="text">

            <label for="lastName" class="last-name">Last Name</label>
            <input id="lastName" type="text">

            <label for="job">Job</label>
            <input id="job" type="text">

            <label for="age">Age</label>
            <input id="age" type="text">

            <label for="email">Email</label>
            <input id="email" type="email">

            <button>Submit</button>
        </form>
	</div>


</body>
</html>