<!DOCTYPE html>
<html lang="et">
	<head>
		<title>Logimine</title>
	</head>
	<body>
		<script>
		  	window.fbAsyncInit = function() {
			    FB.init({
			    	appId      : '179724612944070',
			    	xfbml      : true,
			    	version    : 'v3.1'
			    });
			    FB.AppEvents.logPageView();
		  	};

		  	(function(d, s, id){
			    var js, fjs = d.getElementsByTagName(s)[0];
			    if (d.getElementById(id)) {return;}
			    js = d.createElement(s); js.id = id;
			    js.src = "https://connect.facebook.net/en_US/sdk.js";
			    fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<h1>Logi sisse</h1>

		<form action="/login" method="POST">
			<input type="text" name="username" placeholder="Kasutajanimi" id="username">
			<label for="username">&#160;</label>
			<input type="password" name="password" placeholder="Parool" id="password">
			<label for="password">&#160;</label>
			<button>Logi sisse</button>
		</form>

		<a href="/auth/google">Logi sisse Google'i kasutajaga</a>

		<ul>
			<li><a href="/registreeri">Registreeri!</a></li>
			<li><a href="/login">Logi sisse!</a></li>
			<li><a href="/logout">Logi välja!</a></li>
		</ul>

	</body>
</html>