<!DOCTYPE html>
<html lang="et">
	<head>
		<title>Securebadger Lepingunõustaja</title>
		<meta charset=utf-8>
		<meta name="robots" content="noindex">
        <meta name="description" content="Page 2, Securebadger wizard for contract creation for tenant and landlord">
        <meta name="keywords" content="Securebadger, contract creation, contract, tenant, landlord, rent">
        <meta name="author" content="teineryhm, Securebadger">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet" type="css/stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/page2.css">
		<link rel="alternate" href="../views/index(EST).html">

	</head>
	<body>
		<div class="container">
			<h5>S E C U R E B A D G E R</h5>
			<div id="contentbox">
				<div class="row">
                    <div class="col-sm-4 green-bg">
                    </div>
                    <div class="col-sm-8 white-bg">
                        <h4 id="pagenumber">2/4</h4>
						<h3>Lepingu ülevaade</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 green-bg">
                    	<div id="centered">
	                    	<p>Teie leping.
	                    	<br>Kontrollige andmeid, mida sisestasite eelmisel lehel.</p>
	                    	<p>Kui leiate vigu, minge eelmisele lehele ja parandage need.</p>
                    	</div>
                    </div>
                    <div class="col-sm-8 white-bg">
                        <!-- #toolbar=0&navpanes=0&scrollbar=0 on vaja genereeritava failinime taha lisada-->
							<div class="embed-responsive embed-responsive-21by9">
								<embed class="embed-responsive-item" src="http://www.pdf995.com/samples/pdf.pdf" type="application/pdf" title="Leping">
							</div>
                    </div>
                </div>
				<div class="row" id="stretch">
                	<div class="col-sm-4 green-bg">
                    </div>
                	<div class="col-sm-8 white-bg">
                		 <a rel="next" href="/est3" class="button" id="nextbutton">Salvesta ja edasi</a>
                        <a href="/est" class="button" id="cancelbutton">Eelmine leht</a>
					</div>
						
				</div>
			</div>
		</div>
		

	
		<script src="#"></script>
	</body>
</html>