<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page 3 for Securebadger contract wizard</title>
        <meta charset=utf-8>
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet" type="css/stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/page3.css">

	</head>
	<body>
		<body>
 		<div class="container">
            <form action="#">
 			<h5>S E C U R E B A D G E R</h5>
 			<div id="contentbox">
 				<div class="row">
                    <div class="col-sm-4 green-bg">
                    </div>
                    <div class="col-sm-8 white-bg">
                        <h4 id="pagenumber">3/4</h4>
						<h3>Tenant selection</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 green-bg">
                        Choose a contract
                    </div>
                    <div class="col-sm-8 white-bg">
                    	<div class="dropdown">
                            <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            None
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Contract 1</a>
                                <a class="dropdown-item" href="#">Contract 2</a>
                                <a class="dropdown-item" href="#">Contract 3</a>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 green-bg">
                        Email of tenant
                    </div>
                    <div class="col-sm-8 white-bg">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="row" id="stretch">
                	<div class="col-sm-4 green-bg">
                    </div>
                	<div class="col-sm-8 white-bg" id="buttonstretch">
                        <a rel="next" href="/fourth" class="button" id="nextbutton">Sign</a>
                        <a href="/second" class="button" id="cancelbutton">Back</a>
                    </div>
				</div>
			</div>
		</div>
 	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>