<!DOCTYPE html>
<html>
	<head>
		<title>Registreerimine</title>
	</head>
	<body>
		<h1>Registreeri kasutajaks</h1>

		<form action="/registreeri" method="POST">
			<input type="text" placeholder="Kasutajanimi" name="username" id="username">
			<label for="username">&#160;</label>
			<input type="password" placeholder="Parool" name="password" id="password">
			<label for="password">&#160;</label>
			<button>Registreeri</button>
		</form>

		<ul>
			<li><a href="/registreeri">Registreeri!</a></li>
			<li><a href="/login">Logi sisse!</a></li>
			<li><a href="/logout">Logi välja!</a></li>
		</ul>
		
	</body>
</html>