body{
	background-color: #14251F;
	color: #61E8DC;
	font-family: 'Poppins', sans-serif;
}
h5{
	font-weight: 600;
	margin-bottom: 5vh;
}
.container{
	margin-top: 40px;
}
* {
  box-sizing: border-box;
}

form {
  display: grid;
  grid-template-columns: 200px 1fr;
  color: black;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
form button:hover {
  background: gold;
}

label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    overflow: hidden;
  }

  label {
    float: left;
    width: 200px;
  }

  input {
    float: left;
    width: calc(100% - 200px);
  }

  button {
    float: right;
    /*width: calc(100% - 200px);*/
  }
}