html{
	height: 100%;
}
body{
	background-color: #14251F;
	color: #61E8DC;
	font-family: 'Poppins', sans-serif;
	height: 100%;
}
.container{
	padding-top: 5vh;
	padding-bottom: 5vh;
}
#contentbox{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#stretch{
	height:100%;
	flex:1;
}
h3{
 	color:black;
 	margin-bottom: 5%;
 }
h5{
	font-weight: 600;
	margin-bottom: 5vh;
}
.green-bg {
	background-color: #1CBBB4;
	box-sizing: border-box;
    text-align: center;
    color:white;
}
.white-bg {
	background-color: white;
	box-sizing: border-box;
}
/* media lisada, et col-id ei jääks kitsas*/
.col-sm-4{
	padding-top: 1%;
}
button:focus{
	outline: none;
}
#pagenumber{
	margin-top: 5%;
	color: #999;
	font-size: 18px;
    font-weight: 400	
}
.embed-responsive-21by9{
	position: relative;
    overflow: hidden;
}
.embed-responsive{
	position: relative;
    overflow: hidden;
    padding-top: 45% !important; 
}
.embed-responsive-item{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.embed-responsive-21by9::before {
    content:none;
}
.button{
	float:right;
	overflow: hidden;
	color: #fff;
	background-color: #eb1d5d;
	font-weight: 400;
	margin:5%;
	cursor: pointer;
	border-radius: 3px !important;
	border: none !important;
    -webkit-appearance: none;
    padding: 1%;
	text-decoration: none;
}
a:hover {
    text-decoration: none;
    color:white;
}
p{
	padding-right: 10%;
	padding-left: 10%;
}

