html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #14251F;
	color: #61E8DC;
	font-family: 'Poppins', sans-serif;
}
.container{
	padding-top: 5vh;
	padding-bottom: 5vh;
	height: 100%;
}
#contentbox{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
 .form-check-label{
 	font-size: small;
 	display: block;
	text-align: right;
 }
 /* media lisada, et col-id ei jääks kitsas*/
.col-sm-4{
	padding-top: 1%;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
  color:black;
  min-width: 25%;
}
/*media*/
.dropdown{
	padding: 1%;
}
.dropdown-item{
	text-align: center;
}
h3{
 	color:black;
 	margin-bottom: 5%;
 }
h5{
	font-weight: 600;
	margin-bottom: 5vh;
}
.green-bg {
	background-color: #1CBBB4;
	box-sizing: border-box;
    text-align: right;
    color:white;
}
.white-bg {
	background-color: white;
	box-sizing: border-box;
}
input.form-control, select.form-control, textarea.form-control{
	display: block;
	width: 50%;
	border: none;
	border-bottom: 2px solid #e8ebed;
	outline: none;
	background:none;   
	padding: 6px 12px 6px 0;
	box-shadow: none;
	-webkit-transition: none;
	border-radius: 0;
	margin-bottom: 2%;
	}
#cancelbutton, #nextbutton{
	float:right;
	overflow: hidden;
	color: #fff;
	background-color: #eb1d5d;
	font-weight: 400;
	margin:5%;
	margin-top: 35%;
	cursor: pointer;
	border-radius: 3px !important;
	border: none !important;
    -webkit-appearance: none;
    padding: 1%;
	text-decoration: none;
}
#pagenumber{
	margin-top: 5%;
	color: #999;
	font-size: 18px;
    font-weight: 400
}
#stretch{
	height:100%;
	flex:1;
}
